.admin-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .admin-container {
    text-align: center;
    padding: 20px;
  }
  
  .admin-content {
    border: 2px solid #ccc;
    padding: 40px; /* Augmentez le padding pour créer plus d'espace */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .admin-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .admin-button {
    width: 200px;
    padding: 10px 0;
    margin: 5px;
    font-size: 16px;
    border: none;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .admin-button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
  }

  


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  

  .popup-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
 






.popup-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  .popup-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .popup-button {
    width: calc(50% - 5px); /* Moitié de l'espace moins la marge */
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border: none;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .popup-button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
  }


  .popup-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .cancel-button {
    background-color: #3498db; /* Couleur du bouton "Annuler" */
  }
  



.popup-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  
  
  .popup-button:last-child {
    margin-right: 5px; /* Ajoutez une marge uniquement à droite du dernier bouton */
  }
  


  .no-underline {
    text-decoration: none;
  }


  .admin-button.no-underline {
    text-decoration: none; /* Supprime le soulignement */
  }
  